= form_tag user_sessions_path, :remote => true, :method => :post do
  .large-4.columns.spacer
  .large-4.columns
    = label_tag :email
    = text_field_tag :email
  .large-4.columns.spacer
  .large-4.columns.spacer
  .large-4.columns
    = label_tag :password
    = password_field_tag :password
  .actions
    = submit_tag "Login"